@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,400;0,500;1,500&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  border-bottom: #236dcf 1px solid;
  background: #d3d3d3;
  color: #236dcf;
  font-size: 1.2rem;
}

.nav-link {
  text-decoration: none;
  color: #236dcf;
}

.date-show {
  margin-top: 0.5rem;
  color: #236dcf;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 65%;
    color: #236dcf;
  }

  to {
    margin-left: 0%;
    color: #d136f7eb;
  }
}

.contact-link,
.active {
  color: #d136f7eb;
}

.player-details {
  padding-left: 0.3rem;
}

.player-details-p {
  display: grid;
  grid-template-columns: 1.5fr 1rem 1fr;
}

.player-details:nth-child(even) {
  background-color: #d3d3d3;
}

button {
  height: 2rem;
  width: 4rem;
  background-color: #d3d3d3;
  border: 1px solid #236dcf;
  font-size: 0.9rem;
}

button:hover {
  border: 2px solid #d136f7eb;
  opacity: 0.7;
}

.details {
  margin-top: 2rem;
}

.h-container {
  padding: 0.5rem 0 0 2rem;
}

.m-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.title-contact {
  margin-bottom: 1rem;
}

.m-container2 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.scores-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.player-scores-container {
  margin-top: 1rem;
  list-style: none;
  border: 1px #d3d3d3 solid;
  overflow-y: scroll;
  height: 5rem;
  display: none;
}

.f-container {
  position: fixed;
  bottom: 0;
  background: #d3d3d3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.add-scores-title {
  margin-bottom: 1rem;
}

input {
  height: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  font-family: inherit;
}

input:focus {
  outline: none;
}

.diplay-none {
  display: none;
}

@media (min-width: 576px) {
  .m-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .date-show {
    animation-duration: 15s;
  }

  .scores-container {
    width: 90%;
  }

  .refresh-container {
    display: flex;
    justify-content: space-between;
  }

  .player-scores-container {
    height: 15rem;
  }

  .add-scores-title {
    margin-bottom: 3rem;
  }

  input {
    height: 2rem;
    margin-bottom: 1.5rem;
  }

  .diplay-none {
    display: none;
  }
}
