.balsamiq {
  font-family: 'Balsamiq Sans', cursive;
}

h1 {
  font-size: 4rem;
  margin-left: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.scores-section {
  padding: 0 4em 0 12em;
}

.input-section {
  padding: 0 12em 0 4em;
}

form {
  display: grid;
  margin-top: 25px;
}

.recent {
  display: flex;
}

.recent div {
  flex: 1;
}

input {
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 3px solid black;
  padding: 0 20px;
  font-size: 0.98rem;
}

.btn {
  width: 6.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border: 3px solid black;
  box-shadow: 5px 5px;
  border-radius: 7%;
  cursor: pointer;
}

.btn-right {
  float: right;
}

.sub-header {
  font-size: 1.7rem;
  font-weight: bolder;
  letter-spacing: 0.12rem;
}

.scores-list {
  border: 3px solid black;
  margin-top: 25px;
}

.scores-list div {
  font-size: 1.5rem;
  padding: 4px;
}
